Hi This is the first template, made by me.
A value from command {{getenv "COMMAND_LINE_PARAM"}}. - This key is defined as COMMAND_LINE_PARAM in pom file
A value from vault {{getv "/com/reza/sample/docker/config/username"}}. - This key is defined in vault